@use "../../variables" as *;

.undefined {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: $text-main;
  background-color: $bg-error;
  border: 2px solid $border-default;
  border-radius: 20px;
  text-align: center;
  margin-top: 30px;
}
