@use "../../variables" as *;

.memory {
  padding: 20px;
  background-color: $bg-main;
  border: 2px solid $border-default;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 $shadow-main;

  &__title {
    font-size: 60px;
    text-align: center;
    color: $text-main;
    margin: 0 0 20px;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 2px solid $border-default;
    border-radius: 10px;
  }

  &__item-name {
    font-size: 30px;
  }
}
