$bg-main: #a0d2eb;
$accent-primary: #e5eaf5;
$accent-secondary: #d0bdf4;
$text-main: #553974;
$text-secondary: #a28089;

.question {
  &__title {
    font-size: 60px;
    font-weight: 600;
    color: $text-main;
    text-shadow: 1px 1px $accent-primary;

    animation: scaleIn 0.6s ease forwards;
  }

  &__answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }

  &__item {
    text-align: center;
    padding: 20px;
    border: 2px solid $accent-secondary;
    border-radius: 10px;
    font-size: 40px;
    background-color: $accent-primary;
    color: $text-main;
    box-shadow: 0 0 10px 0 $accent-primary;

    opacity: 0;
    animation: fadeSlide 0.5s ease forwards;

    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
  }

  &__bar {
    width: 100%;
    height: 15px;
    background-color: $text-secondary;
    border: 2px solid $text-secondary;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  &__bar--active {
    height: 100%;
    border: 0 solid $text-secondary;
    border-radius: 5px;
    background-color: $accent-primary;
    transition: width 1s linear;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
