@use "../../variables" as *;

.intro {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid $border-default;
  border-radius: 10px;
  background-color: $bg-main;

  animation: forthcoming 2.3s forwards;

  &__round {
    font-size: 70px;
    font-weight: 700;
    color: $text-main;
    padding-right: 10px;
  }

  &__title {
    font-size: 70px;
    font-weight: 700;
    color: $text-main;
  }
}

@media (max-width: 756px) {
  .intro {
    padding: 10px;

    &__round {
      font-size: 50px;
    }

    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    &__round {
      font-size: 36px;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@keyframes forthcoming {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(0.75);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
