$bg-main: #ebe6a0;
$accent-primary: #f3f5e5;
$accent-secondary: #c2f4bd;
$text-main: #394c74;
$text-secondary: #f8acac;

.btn {
  padding: 10px;
  border: 2px solid $text-main;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s;

  &:active {
    transform: scale(0.9);
  }

  &__active {
    background-color: $accent-secondary;
  }
}
