@use "../../../variables" as *;

.btn {
  padding: 10px;
  border: 2px solid $border-default;
  border-radius: 10px;
  background-color: $bg-unselected;
  cursor: pointer;
  transition: all 0.4s;

  &:active {
    transform: scale(0.9);
  }

  &__active {
    background-color: $bg-active;
  }
}

@media (max-width: 756px) {
  .btn {
    padding: 8px;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 5px 8px;
  }
}
