@use "../../colors.scss" as *;

.join {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 80px;
    border: 2px solid $border-default;
    border-radius: 20px;
    background-color: $bg-main;
    margin-bottom: 30px;
    position: relative;
  }

  &__site {
    font-size: 30px;
    color: $text-main;

    span {
      color: $text-secondary;
    }
  }

  &__room {
    font-size: 25px;
    color: $text-main;

    span {
      color: $text-secondary;
    }
  }

  &__btn {
    border: 2px solid $border-default;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: $bg-surface;
    color: $text-main;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }

    &:hover:disabled {
      cursor: not-allowed;
    }
  }

  &__music {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $text-main;
    font-size: 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-surface;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 0.4s;
  }

  &__music:active {
    transform: scale(0.9);
  }

  &__players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__added-players {
    font-size: 20px;
    color: $text-secondary;
  }

  &__player {
    font-size: 30px;
    font-weight: 600;
    color: $text-main;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid $border-default;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 $shadow-main;
  }

  &__spinner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $bg-main;
    margin: 0 auto;
    animation: loading 2s infinite ease-in-out;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
