@use "../../variables" as *;

.game {
  &__question {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-main;
  }
}
