.game {
  &__question {
    font-size: 30px;
    text-align: center;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__answer {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}

.chosen {
  background-color: rgb(246, 248, 99);
}

@media (max-width: 500px) {
  .game {
    &__question {
      font-size: 20px;
    }

    &__answer {
      padding: 5px;
      font-size: 16px;
    }
  }
}
