$bg-main: #a0d2eb;
$accent-primary: #e5eaf5;
$accent-secondary: #d0bdf4;
$text-main: #553974;
$text-secondary: #a28089;

.game {
  &__inner {
    padding: 20px;
    background-color: $accent-primary;
    border: 2px solid #000;
    border-radius: 20px;
  }

  &__category {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__question {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__answer {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }

  &__bar {
    max-width: 400px;
    height: 15px;
    background-color: #f3e963;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 0 auto;
  }

  &__bar--active {
    height: 100%;
    border: 0 solid $text-secondary;
    border-radius: 5px;
    background-color: #fff;
    transition: width 1s linear;
  }

  &__right {
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;

    animation: boomIn 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);

    h2 {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }
  }

  &__message--right {
    font-size: 16px;
    text-align: center;
    color: green;
  }
  &__message--wrong {
    font-size: 16px;
    text-align: center;
    color: red;
  }
}

.chosen {
  background-color: rgb(246, 248, 99);
}

@keyframes boomIn {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(200px);
    filter: blur(4px);
  }

  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-10px);
    filter: blur(0);
  }

  70% {
    transform: scale(1.25) translateY(0);
  }

  75% {
    transform: scale(0.95) translateX(-8px);
  }
  80% {
    transform: scale(1.05) translateX(8px);
  }
  85% {
    transform: scale(0.97) translateX(-4px);
  }
  90% {
    transform: scale(1.02) translateX(4px);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@media (max-width: 500px) {
  .game {
    &__question {
      font-size: 20px;
    }

    &__answer {
      padding: 5px;
      font-size: 16px;
    }

    &__right {
      padding: 10px;

      h2 {
        font-size: 20px;
      }
    }
  }
}
