@use "../../variables" as *;

.toolbar {
  max-width: 400px;
  min-width: 300px;
  height: 15px;
  border: 2px solid $border-default;
  border-radius: 5px;
  margin: 0 auto;

  &__inner {
    height: 100%;
    border: 0 solid $border-default;
    border-radius: 5px;
    background-color: $bg-active;
    transition: width 1s linear;
  }
}
