.quiz {
  background-image: url("/quiz-backgrounds/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
