@use "../../variables" as *;

.obstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid $border-default;
  border-radius: 20px;
  background-color: $bg-main;

  &__title {
    text-align: center;
    margin: 0;
  }

  &__btn {
    font-size: 26px;
    border: 2px solid $border-default;
    border-radius: 10px;
    padding: 10px;
    background-color: $bg-active;
    cursor: pointer;
    transition: all 0.4s;

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      background-color: $bg-error;
      cursor: not-allowed;
    }
  }

  &__descr {
    font-size: 40px;
    text-align: center;
    line-height: 150%;

    span {
      font-size: 44px;
      font-weight: 700;
    }
  }
}

@media (max-width: 500px) {
  .obstruction {
    padding: 15px;

    &__title {
      font-size: 20px;
    }

    &__items {
      gap: 10px;
      margin-bottom: 10px;
    }

    &__item {
      padding: 7px;
      font-size: 16px;
    }

    &__players {
      gap: 10px;
      margin-bottom: 10px;
    }

    &__player {
      padding: 7px;
      font-size: 16px;
    }
  }
}
