@import "@styles/colors.scss";

.games {
  height: 100vh;
  background-color: $bg-main;
  color: $text-main;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game {
  padding: 20px;
  border: 2px solid $accent-secondary;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px $accent-secondary;

  &__link {
    color: $text-main;
    text-shadow: 1px 1px $accent-secondary;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $accent-primary;
    }
  }

  &__descr {
    color: $text-secondary;
  }
}
