:root {
  --color-background: #fff7e6;
  --color-foreground: #000000;

  --font-sans: var(--font-inter-sans);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter-sans);

  font-size: 20px;
  font-weight: 400;

  margin: 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}
