:root {
  --color-background: #fff7e6;
  --color-foreground: #000000;

  --font-sans: var(--font-inter-sans);
}

/* @theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --font-sans: var(--font-inter-sans);
} */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter-sans);

  font-size: 20px;
  font-weight: 400;

  margin: 0;
}

.container {
  max-width: 1380px;
  margin: 0 aut0;
  padding: 0 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 100px;
}
