:root {
  --color-background: #fff7e6;
  --color-foreground: #000000;

  --font-sans: var(--font-inter-sans);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter-sans);

  font-size: 20px;
  font-weight: 400;

  margin: 0;
}

.container {
  max-width: 7660px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 5100px) {
  .container {
    max-width: 3820px;
  }
}

@media (max-width: 3820px) {
  .container {
    max-width: 2540px;
  }
}

@media (max-width: 2540px) {
  .container {
    max-width: 1900px;
  }
}

@media (max-width: 1900px) {
  .container {
    max-width: 1260px;
  }
}
