@use "../../variables" as *;

.sorting {
  padding: 20px;
  background-color: $bg-main;
  border: 2px solid #000;
  border-radius: 20px;

  &__question {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-unselected;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    touch-action: none;
    user-select: none;
    position: relative;
  }

  &__title {
    padding: 10px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-unselected;
    text-align: center;
    font-size: 20px;
    min-width: 260px;
    cursor: grab;
  }
}

.hover {
  background-color: $bg-active;
}

@media (max-width: 500px) {
  .sorting {
    &__question {
      font-size: 20px;
    }

    &__title {
      font-size: 16px;
      padding: 5px;
    }
  }
}
