@use "../../colors.scss" as *;

.obstruction {
  padding: 20px;
  border: 2px solid $border-default;
  border-radius: 20px;
  background-color: $bg-main;
  color: $text-main;
  box-shadow: 0 0 10px 0 $shadow-main;

  &__title {
    font-size: 60px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 2px solid $border-default;
    border-radius: 5px;

    opacity: 0;
    animation: fadeSlide 0.5s ease forwards;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
    &:nth-child(6) {
      animation-delay: 1.2s;
    }
    &:nth-child(7) {
      animation-delay: 1.4s;
    }
    &:nth-child(8) {
      animation-delay: 1.6s;
    }
    &:nth-child(9) {
      animation-delay: 1.8s;
    }
    &:nth-child(10) {
      animation-delay: 2s;
    }
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
