@use "../../variables" as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 280px;
  border: 2px solid $border-default;
  border-radius: 20px;
  background-color: $bg-main;

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__input-name,
  &__input-room {
    width: 240px;
    border: 2px solid $border-default;
    border-radius: 10px;
    padding: 10px;
    color: $text-main;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }

  &__btn {
    border: 2px solid $border-default;
    border-radius: 10px;
    padding: 10px;
    color: $text-main;
    background-color: $bg-active;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      background-color: $bg-error;
      cursor: not-allowed;
    }
  }
}
