@use "../../../../variables" as *;

.obstruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    padding: 10px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-unselected;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;

    &:active {
      transform: scale(0.9);
    }
  }

  &__item--active {
    background-color: $bg-active;
  }
}

@media (max-width: 500px) {
  .obstruction {
    gap: 10px;

    &__item {
      padding: 7px 10px;
      font-size: 16px;
    }
  }
}
