@use "../../colors.scss" as *;

.right {
  text-align: center;
  padding: 20px;
  border: 2px solid $border-default;
  border-radius: 20px;
  font-size: 60px;
  background-color: $bg-main;
  color: $text-main;
  box-shadow: 0 0 10px 0 $shadow-main;

  animation: boomIn 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);

  &__answer {
    margin-bottom: 20px;
  }

  &__players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__user {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 2px solid $border-default;
    border-radius: 5px;

    opacity: 0;
    animation: fadeSlide 0.5s ease forwards;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
    &:nth-child(6) {
      animation-delay: 1.2s;
    }
    &:nth-child(7) {
      animation-delay: 1.4s;
    }
    &:nth-child(8) {
      animation-delay: 1.6s;
    }
    &:nth-child(9) {
      animation-delay: 1.8s;
    }
    &:nth-child(10) {
      animation-delay: 2s;
    }
  }

  &__total-score {
    color: $text-secondary;
    span {
      font-size: 16px;
    }
  }

  &__score {
    color: $text-secondary;
    padding-left: 30px;
    font-size: 30px;
    span {
      font-size: 16px;
    }
  }
}

@keyframes boomIn {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(200px);
    filter: blur(4px);
  }

  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-10px);
    filter: blur(0);
  }

  70% {
    transform: scale(1.25) translateY(0);
  }

  75% {
    transform: scale(0.95) translateX(-8px);
  }
  80% {
    transform: scale(1.05) translateX(8px);
  }
  85% {
    transform: scale(0.97) translateX(-4px);
  }
  90% {
    transform: scale(1.02) translateX(4px);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
