@use "../../variables" as *;

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  border: 2px solid $border-default;
  border-radius: 10px;
  background-color: $bg-main;

  &__text {
    font-size: 30px;
    color: $text-main;
  }

  &__btn {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100%;
    background-color: $bg-main;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}
