@use "../../colors.scss" as *;

.title {
  font-size: 40px;
  font-weight: 600;
  color: $text-main;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 2px solid $border-default;
  border-radius: 20px;
  background-color: $bg-main;
  box-shadow: 0 0 10px 0 $shadow-main;
  margin-bottom: 20px;

  animation: fadeSlide 0.7s ease forwards;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
