@use "../../variables" as *;

.undefined {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: $text-main;
  background-color: $bg-error;
  border: 2px solid $border-default;
  border-radius: 20px;
  text-align: center;
  margin-top: 30px;
  transform: scale(0);
  opacity: 0;

  animation: animate 1s ease forwards;
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
