@use "../../variables" as *;

.topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid $border-default;
  border-radius: 10px;
  background-color: $bg-main;

  &__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    color: $text-main;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__btn {
    font-size: 20px;
    font-weight: 600;
    color: $text-main;
    padding: 15px 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-active;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__btn:active {
    transform: scale(0.9);
  }

  &__btn:disabled {
    background-color: $bg-error;
    cursor: not-allowed;
  }
}

@media (max-width: 756px) {
  .topic {
    padding: 16px;

    &__title {
      font-size: 26px;
      margin-bottom: 20px;
    }

    &__items {
      gap: 15px;
      margin-bottom: 20px;
    }

    &__btn {
      font-size: 18px;
      padding: 10px 15px;
    }
  }
}

@media (max-width: 500px) {
  .topic {
    padding: 10px;

    &__title {
      font-size: 24px;
    }

    &__items {
      gap: 10px;
    }
  }
}
