@use "../../../../variables" as *;

.movies-question {
  padding: 20px;
  background-color: $bg-main;
  border: 2px solid #000;
  border-radius: 20px;

  &__question {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-unselected;
  }

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__answer {
    padding: 10px;
    border: 2px solid $border-default;
    border-radius: 10px;
    width: 90%;
    background-color: $bg-unselected;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}

.chosen {
  background-color: $bg-active;
}

@media (max-width: 500px) {
  .movies-question {
    &__question {
      font-size: 20px;
    }

    &__answer {
      padding: 5px;
      font-size: 16px;
    }

    // &__right {
    //   padding: 10px;

    //   h2 {
    //     font-size: 20px;
    //   }
    // }
  }
}
