@use "../../colors.scss" as *;

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &__text {
    font-size: 40px;
    color: $text-main;
    padding: 10px 20px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-main;
  }

  &__users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid $text-main;
    border-radius: 20px;
    background-color: $bg-main;
  }

  &__user-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    font-size: 38px;
    padding: 3px 10px;
    border: 2px solid $border-default;
    border-radius: 5px;

    &:nth-child(1) {
      color: rgb(230, 195, 0);
      font-weight: 800;
    }
    &:nth-child(2) {
      color: silver;
      font-weight: 700;
    }
    &:nth-child(3) {
      color: #cd7f32;
      font-weight: 600;
    }
  }

  &__user-congratulation {
    font-size: 22px;
    text-align: center;
  }

  &__total-score {
    color: $text-secondary;
    span {
      font-size: 16px;
    }
  }

  &__back {
    text-decoration: none;
    font-size: 30px;
    color: $text-main;
    padding: 10px;
    border: 2px solid $border-default;
    border-radius: 10px;
    background-color: $bg-surface;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}
