$bg-main: #a0d2eb;
$accent-primary: #e5eaf5;
$accent-secondary: #d0bdf4;
$text-main: #553974;
$text-secondary: #a28089;

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__text {
    font-size: 60px;
    color: $text-main;
  }

  &__users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid $text-main;
    border-radius: 20px;
    background-color: $accent-primary;
  }

  &__user {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 2px solid $accent-secondary;
    border-radius: 5px;

    &:nth-child(1) {
      color: gold;
      font-weight: 800;
    }
    &:nth-child(2) {
      color: silver;
      font-weight: 700;
    }
    &:nth-child(3) {
      color: #cd7f32;
      font-weight: 600;
    }
  }

  &__total-score {
    color: $text-secondary;
    span {
      font-size: 16px;
    }
  }

  &__back {
    text-decoration: none;
    font-size: 40px;
    color: $accent-secondary;
    padding: 10px;
    border: 2px solid $accent-primary;
    border-radius: 10px;
    background-color: $text-main;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}
